

@import url('all.css');


@import url(banner.css);
@import url(buttons.css);
@import url(cards.css);
@import url(container.css);
@import url(footer.css);

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.links i{
	margin: 5px;
	
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-right: 10px;
  color: grey;
  font-family: sans-serif;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}
